<div class="sending-container" id="sending" >
    <div class="sending">
        <header>
          <h1 class="heading">Insert your email</h1>
        </header>
        <form name="send" id="send" ng-submit="send.$valid && sendForm()">
            <label for="email" class="item item-input item-floating-label">
                <span class="input-label">EMAIL</span>
                <input id="email" required ng-model="email" name="email" type="email" class="input-email" placeholder="Email Address" />
            </label>
            <hr />
            <button type="submit" class="button button-positive button-outline">SUBMIT</button>
        </form>
    </div>
</div>