# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/www/lib/

# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# android
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties

# res
resources/signing