<div class="question-container" id="question" >
  <div class="question" ng-hide="responseState">
    <header>
      <p class="subheader">question # {{ question.id }}</p>
      <h1 class="heading">{{ question.title }}</h1>
    </header>


    <div class="paper-container" ng-class="{ ready: micState }">
      
      <md-button aria-label="Microphone" class="md-warn md-fab mic-icon mic-start" ng-click="nowRecording()" title="Its your time to shine">
        <md-icon ng-hide="micState" icon="img/ic_mic_24px.svg" style="width:24px;height:24px;" class="ng-scope"></md-icon>
        <md-icon ng-show="micState" icon="img/ic_mic_none_24px.svg" style="width:24px;height:24px;" class="ng-scope"></md-icon>
      </md-button>

    </div>

    <div class="card mic-state">
      <div class="item item-text-wrap">
        {{ micStateText }}
      </div>
    </div>
  </div>
  <div class="animated bounceIn card response" ng-show="responseState">
    <div class="item item-text-wrap">
      {{ responseStateText }}
    </div>
  </div>
</div>

<div class="bar bar-footer" ng-hide="responseState">
  <div class="title">RECORD: {{ timerStatus }} sec</div>
</div>

<!-- <div class="bar bar-footer">
  <div class="title">
    <code>{{ debugText }}</code>
  </div>
</div> -->